binds {

    // =========================
    // SCREENSHOTS
    // =========================
    Mod+Shift+A { spawn "sh" "-c" "grim -g \"$(slurp)\" - | wl-copy"; }
    Mod+Alt+A   { spawn "sh" "-c" "grim -g \"$(slurp)\" - | swappy -f -"; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }


    // =========================
    // SYSTEM / SESSION
    // =========================
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Ctrl+Alt+Delete { quit; }


    // =========================
    // APPLICATIONS / LAUNCHERS
    // =========================
    Mod+Return hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty"; }

    Mod+T hotkey-overlay-title="Run an Application: rofi" {
        spawn-sh "rofi -show drun run -theme $HOME/.config/rofi/launchers/type-2/style-2.rasi";
    }

    Mod+Alt+R hotkey-overlay-title="Run Pomo timer" {
        spawn "alacritty" "-e" "/home/kukaracka/go/bin/pomo";
    }

    Mod+Alt+Down hotkey-overlay-title="Openrgb white light" {
        spawn-sh "openrgb --gui --startminimized --server --profile white.orp";
    }

    Super+Alt+L hotkey-overlay-title="Lock the Screen: swaylock" {
        spawn "hyprlock";
    }


    // =========================
    // CLIPBOARD / UTILITIES
    // =========================
    Mod+Alt+B {
        spawn "sh" "-c" "cliphist list | rofi -dmenu -theme $HOME/.config/rofi/launchers/type-2/style-2_clip.rasi | cliphist decode | wl-copy";
    }

    Mod+Alt+E {
        spawn-sh "rofi -show emoji -theme $HOME/.config/rofi/launchers/type-2/style-2_clip.rasi";
    }

    // Super+Alt+S allow-when-locked=true hotkey-overlay-title=null {
    //     spawn-sh "pkill orca || exec orca";
    // }


    // =========================
    // AUDIO / MEDIA
    // =========================
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 10%+ -l 2.0 && notify-send -h string:x-canonical-private-synchronous:audio -h int:value:$(wpctl get-volume @DEFAULT_AUDIO_SINK@ | awk '{print $2*100}') 'Громкость' \"$(wpctl get-volume @DEFAULT_AUDIO_SINK@ | awk '{print $2*100 \"%\"}')\"";
    }

    XF86AudioLowerVolume allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 10%- && notify-send -h string:x-canonical-private-synchronous:audio -h int:value:$(wpctl get-volume @DEFAULT_AUDIO_SINK@ | awk '{print $2*100}') 'Громкость' \"$(wpctl get-volume @DEFAULT_AUDIO_SINK@ | awk '{print $2*100 \"%\"}')\"";
    }

    XF86AudioMute allow-when-locked=true {
        spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle && notify-send -h string:x-canonical-private-synchronous:audio 'Звук' \"Переключен режим Mute\"";
    }

    XF86AudioMicMute allow-when-locked=true {
        spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle && notify-send -h string:x-canonical-private-synchronous:audio 'Микрофон' \"Переключен режим Mute\"";
    }

    XF86AudioPlay allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext allow-when-locked=true { spawn-sh "playerctl next"; }


    // =========================
    // BRIGHTNESS
    // =========================
    XF86MonBrightnessUp allow-when-locked=true {
        spawn "brightnessctl" "--class=backlight" "set" "+10%";
    }

    XF86MonBrightnessDown allow-when-locked=true {
        spawn "brightnessctl" "--class=backlight" "set" "10%-";
    }

    Mod+Alt+J  { spawn-sh "$HOME/.config/niri/scripts/HighBrightness.sh"; }
    Mod+Alt+I    { spawn-sh "$HOME/.config/niri/scripts/MediumBrightness.sh"; }
    Mod+Alt+L { spawn-sh "$HOME/.config/niri/scripts/LowBrightness.sh"; }


    Mod+Ctrl+Shift+S allow-when-locked=true { spawn-sh "shutdown now"; }
    Mod+Ctrl+Shift+R allow-when-locked=true { spawn-sh "reboot"; }
    // =========================
    // WINDOW MANAGEMENT
    // =========================
    Mod+Q { close-window; }
    // Принудительное закрытие (SIGKILL) текущего окна
    Mod+Alt+Q { spawn "sh" "-c" "niri msg focused-window | grep 'ID:' | awk '{print $2}' | xargs kill -9"; }

    Mod+B       { toggle-window-floating; }
    Mod+Shift+B { switch-focus-between-floating-and-tiling; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    // Mod+Comma  { consume-window-into-column; }
    // Mod+Period { expel-window-from-column; }


    // =========================
    // COLUMN / LAYOUT CONTROL
    // =========================
    Mod+A { switch-preset-column-width; }
    Mod+G { maximize-column; }
    Mod+Alt+G { fullscreen-window; }
    Mod+Alt+C { center-column; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+Alt+W { toggle-column-tabbed-display; }


    // =========================
    // OVERVIEW
    // =========================
    Mod+Alt+Semicolon repeat=false { toggle-overview; }


    // =========================
    // NAVIGATION (COLUMNS)
    // =========================
    Mod+J { focus-column-left; }
    Mod+L { focus-column-right; }

    Mod+Ctrl+J { move-column-left; }
    Mod+Ctrl+L { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }

    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }


    // =========================
    // NAVIGATION (MONITORS)
    // =========================
    Mod+Shift+J { focus-monitor-left; }
    Mod+Shift+K { focus-monitor-down; }
    Mod+Shift+I { focus-monitor-up; }
    Mod+Shift+L { focus-monitor-right; }

    Mod+Shift+Ctrl+J { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+L { move-column-to-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }
    Mod+Shift+Ctrl+Right { move-workspace-to-monitor-right; }


    // =========================
    // WORKSPACES
    // =========================
    Mod+K { focus-workspace-down; }
    Mod+I { focus-workspace-up; }

    Mod+Ctrl+K { move-column-to-workspace-down; }
    Mod+Ctrl+I { move-column-to-workspace-up; }

    Mod+Shift+Down { move-workspace-down; }
    Mod+Shift+Up   { move-workspace-up; }

    // direct access
    Mod+X { focus-workspace 1; }
    Mod+C { focus-workspace 2; }
    Mod+V { focus-workspace 3; }
    Mod+S { focus-workspace 4; }
    Mod+D { focus-workspace 5; }
    Mod+F { focus-workspace 6; }
    Mod+W { focus-workspace 7; }
    Mod+E { focus-workspace 8; }
    Mod+R { focus-workspace 9; }

    Mod+Ctrl+X { move-column-to-workspace 1; }
    Mod+Ctrl+C { move-column-to-workspace 2; }
    Mod+Ctrl+V { move-column-to-workspace 3; }
    Mod+Ctrl+S { move-column-to-workspace 4; }
    Mod+Ctrl+D { move-column-to-workspace 5; }
    Mod+Ctrl+F { move-column-to-workspace 6; }
    Mod+Ctrl+W { move-column-to-workspace 7; }
    Mod+Ctrl+E { move-column-to-workspace 8; }
    Mod+Ctrl+R { move-column-to-workspace 9; }


    // =========================
    // SCROLL (WORKSPACES / COLUMNS)
    // =========================
    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }

    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight { focus-column-right; }
    Mod+WheelScrollLeft  { focus-column-left; }

    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }

    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }
}
