include "execs.kdl"
include "workspaces.kdl"
include "binds.kdl"
include "input.kdl"
include "output.kdl"
include "layout.kdl"
include "window-rules.kdl"
include "animations.kdl"
include "env.kdl"

prefer-no-csd

hotkey-overlay {
    skip-at-startup
}
