/// Бар сверху монитора
spawn-at-startup "waybar"

/// Запуск утилиты, отвечающей за историю буфера обмена
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"

/// Прокидывание ssh портов на панели
spawn-at-startup "autossh" "-M" "0" "-f" "-N" "-o" "ServerAliveInterval 30" "-o" "ServerAliveCountMax 3" "-L" "1338:127.0.0.1:56478" "vps_tema"
spawn-at-startup "autossh" "-M" "0" "-f" "-N" "-o" "ServerAliveInterval 30" "-o" "ServerAliveCountMax 3" "-L" "1340:127.0.0.1:46734" "vps_new_nl"
spawn-at-startup "autossh" "-M" "0" "-f" "-N" "-o" "ServerAliveInterval 30" "-o" "ServerAliveCountMax 3" "-L" "1342:127.0.0.1:37483" "vps_nobosib"

/// Запуск syncthing
spawn-at-startup "syncthing" "--no-browser"

/// Запуск демона локскрина
// spawn-at-startup "hypridle"


spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP=niri"

spawn-at-startup "sh" "-c" "~/.config/niri/scripts/launch_to_ws.sh kitty kitty tr"

/// Запуск утилиты, отвечающей за переменную температуру дисплея
spawn-at-startup "sunsetr"

spawn-at-startup "keepassxc"
spawn-at-startup "Telegram"
spawn-at-startup "throne"
spawn-at-startup "zen-browser"

// spawn-at-startup "sh" "-c" "sleep 1 && ~/.config/niri/scripts/launch_to_ws.sh zen-browser zen bw"
// spawn-at-startup "sh" "-c" "sleep 2 && ~/.config/niri/scripts/launch_to_ws.sh Telegram org.telegram.desktop tg"
// spawn-at-startup "sh" "-c" "sleep 3 && ~/.config/niri/scripts/launch_to_ws.sh keepassxc org.keepassxc.KeePassXC sc"
// spawn-at-startup "sh" "-c" "sleep 4 && ~/.config/niri/scripts/launch_to_ws.sh throne Throne sc"
