/// Бар сверху монитора
spawn-at-startup "waybar"

/// Запуск утилиты, отвечающей за историю буфера обмена
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"

/// Прокидывание ssh портов на панели
spawn-at-startup "autossh" "-M" "0" "-f" "-N" "-o" "ServerAliveInterval 30" "-o" "ServerAliveCountMax 3" "-L" "1338:127.0.0.1:56478" "vps_tema"
spawn-at-startup "autossh" "-M" "0" "-f" "-N" "-o" "ServerAliveInterval 30" "-o" "ServerAliveCountMax 3" "-L" "1340:127.0.0.1:46734" "vps_new_nl"
spawn-at-startup "autossh" "-M" "0" "-f" "-N" "-o" "ServerAliveInterval 30" "-o" "ServerAliveCountMax 3" "-L" "1342:127.0.0.1:56478" "vps_nobosib"

/// Запуск syncthing
spawn-at-startup "syncthing" "--no-browser"

/// Запуск демона локскрина
spawn-at-startup "hypridle"

/// Запуск утилиты, отвечающей за 
spawn-at-startup "sunsetr"

/// Запуск приложений при старте системы
spawn-at-startup "kitty"
spawn-at-startup "zen-browser"
spawn-at-startup "Telegram"
spawn-at-startup "keepassxc"
spawn-at-startup "throne"
