input {

    // =========================
    // GENERAL (FOCUS / MOUSE)
    // =========================
    // focus-follows-mouse max-scroll-amount="10%"
    // focus-follows-mouse{
    //   //
    //   //
    //   max-scroll-amount="10%"
    //
    //   //max-scroll-amount="0%"
    // }

    // Uncomment this to make the mouse warp to the center of newly focused windows.
    // warp-mouse-to-focus

    // Focus follows mouse (active)
    focus-follows-mouse max-scroll-amount="20%"


    // =========================
    // KEYBOARD
    // =========================
    keyboard {

        repeat-delay 200
        repeat-rate 30

        xkb {
            // You can set rules, model, layout, variant and options.
            // For more information, see xkeyboard-config(7).

            layout "us,ru"
            variant "colemak_dh_ortho,"
            options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"

            // If this section is empty, niri will fetch xkb settings
            // from org.freedesktop.locale1. You can control these using
            // localectl set-x11-keymap.
        }

        // Enable numlock on startup, omitting this setting disables it.
        numlock
    }


    // =========================
    // TOUCHPAD (LIBINPUT)
    // =========================
    touchpad {

        scroll-factor 0.1
        tap
        natural-scroll

        accel-speed -0.0
        accel-profile "flat"

        // dwt
        // dwtp
        // drag false
        // drag-lock
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }


    // =========================
    // MOUSE
    // =========================
    mouse {

        accel-speed 0
        accel-profile "flat"

        // off
        // natural-scroll
        // scroll-method "no-scroll"
    }


    // =========================
    // TRACKPOINT
    // =========================
    trackpoint {

        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // scroll-button-lock
        // middle-emulation
    }
}
