layout {

    focus-ring {
        active-color   "#889fc4"
        inactive-color "#1a1d23"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#889fc4"
        inactive-color "#1a1d23"
        urgent-color   "#fd4663"
    }


    tab-indicator {
        active-color   "#889fc4"
        inactive-color "#2d456d"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#889fc480"
    }
}

recent-windows {
    highlight {
        active-color "#889fc4"
        urgent-color "#fd4663"
    }
}
