// =========================
// INTERNAL DISPLAY (LAPTOP)
// =========================
output "eDP-1" {

    // =========================
    // STATE
    // =========================
    // off


    // =========================
    // MODE (RESOLUTION / REFRESH)
    // =========================
    mode custom=true "1920x1200@90"


    // =========================
    // SCALE
    // =========================
    scale 1.25


    // =========================
    // TRANSFORM (ROTATION)
    // =========================
    transform "normal"


    // =========================
    // POSITION (GLOBAL SPACE)
    // =========================
    position x=0 y=0
}



// =========================
// EXTERNAL DISPLAY
// =========================
output "HDMI-A-1" {

    // =========================
    // STATE
    // =========================
    // off


    // =========================
    // MODE (RESOLUTION / REFRESH)
    // =========================
    mode custom=true "1920x1080@60"


    // =========================
    // SCALE
    // =========================
    scale 1.25


    // =========================
    // TRANSFORM (ROTATION)
    // =========================
    transform "normal"


    // =========================
    // POSITION (GLOBAL SPACE)
    // =========================
    // position x=1280 y=0
}
