// =========================
// GLOBAL / GENERIC RULES
// =========================
window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
}



// =========================
// FLOATING / SPECIAL WINDOWS
// =========================
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"

    open-floating true
}



// =========================
// WORKSPACE: BROWSER (bw)
// =========================
window-rule {
    match app-id=r#"^zen$"#

    open-on-workspace "bw"
    default-column-width { proportion 1.0; }
}



// =========================
// WORKSPACE: TERMINALS (tr)
// =========================
window-rule {
    match app-id=r#"^kitty$"#

    open-on-workspace "tr"
    default-column-width { proportion 1.0; }
    scroll-factor 4
}

window-rule {
    match app-id=r#"Alacritty"#

    open-on-workspace "tr"
    open-floating true

    default-column-width { fixed 300; }
    default-window-height { fixed 180; }
    default-floating-position x=1220 y=15
}



// =========================
// WORKSPACE: TELEGRAM (tg)
// =========================
window-rule {
    match app-id=r#"^org.telegram.desktop$"#

    open-on-workspace "tg"
    default-column-width { proportion 1.0; }
    scroll-factor 2.5
}



// =========================
// WORKSPACE: SECRETS / SECURITY (sc)
// =========================
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    open-on-workspace "sc"
    block-out-from "screen-capture"
}

window-rule {
    match app-id=r#"^Throne$"#

    open-on-workspace "sc"
    scroll-factor 2.5
    default-column-width {}
}



// =========================
// GAMES / VM
// =========================
window-rule {
    match app-id=r#"^steam_app_\d+$"#

    // open-fullscreen true
}

window-rule {
    match app-id=r#"VirtualBox Machine"#

    // open-fullscreen true
    // default-column-width { fixed 1800; }
    // default-window-height { fixed 1000; }
    // open-floating true
}
