blur {
  passes 2        // more passes = stronger blur (default: 3)
  offset 3.0      // sample distance per pass (default: 3.0)
  noise 0.03      // grain overlay (default: 0.02)
  saturation 1.0  // color saturation boost (default: 1.5)
}

window-rule {
  background-effect {
    blur true
    xray false
  }
}

layer-rule {
  match namespace="^noctalia-(background|launcher-overlay|dock)-.*$"
  background-effect {
    xray false
  }
}

// =========================
// GLOBAL / GENERIC RULES
// =========================
window-rule {
    geometry-corner-radius 15
    clip-to-geometry true
}



// =========================
// FLOATING / SPECIAL WINDOWS
// =========================
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"

    open-floating true
}



// =========================
// WORKSPACE: BROWSER (bw)
// =========================
window-rule {
    match app-id=r#"^zen$"#
    default-column-width { proportion 1.0; }
    open-on-workspace "bw"
    // open-maximized true
}



// =========================
// WORKSPACE: TERMINALS (tr)
// =========================
window-rule {
    match app-id=r#"^kitty$"#
    background-effect {
        blur true     // ОБЯЗАТЕЛЬНО добавляем true
        xray true     // Размывать только обои (false — размывать другие окна под ним)
    }
      
    default-column-width { proportion 0.66667; }
    scroll-factor 4
    open-maximized true
}

window-rule {
    match app-id=r#"Alacritty"#

    open-floating true

    default-column-width { fixed 300; }
    default-window-height { fixed 180; }
    default-floating-position x=1220 y=15
}



// =========================
// WORKSPACE: TELEGRAM (tg)
// =========================
window-rule {
    match app-id=r#"^org.telegram.desktop$"#
    open-on-workspace "tg"
    default-column-width { proportion 1.0; }
    // scroll-factor 2.5
}

window-rule {
    match app-id=r#"^chrome-mail.mail.ru__-Default$"#
    open-on-workspace "tg"
    default-column-width { proportion 0.66667; }
    // scroll-factor 2.5
}


// =========================
// WORKSPACE: SECRETS / SECURITY (sc)
// =========================
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    default-column-width { proportion 0.5; }
    open-on-workspace "sc"
    block-out-from "screen-capture"
}

window-rule {
    match app-id=r#"^Throne$"#

    open-on-workspace "sc"
    scroll-factor 2.5
    default-column-width { proportion 0.5; }
}


window-rule {
    match app-id=r#"^org.gnome.Nautilus$"#
    scroll-factor 2.5
    default-column-width { proportion 0.66667; }
}

window-rule {
    match app-id=r#"^ONLYOFFICE$"#
    scroll-factor 2.5
    default-column-width { proportion 0.66667; }
}
// =========================
// GAMES / VM
// =========================
window-rule {
    match app-id=r#"^steam_app_\d+$"#

    // open-fullscreen true
}

window-rule {
    match app-id=r#"VirtualBox Machine"#

    // open-fullscreen true
    // default-column-width { fixed 1800; }
    // default-window-height { fixed 1000; }
    // open-floating true
}
