workspace "tr" {
    open-on-output "HDMI-A-2"
}

workspace "bw" {
    open-on-output "HDMI-A-3"
}

workspace "tg" {
    open-on-output "HDMI-A-3"
}

workspace "sc" {
    open-on-output "HDMI-A-2"
}

workspace "etc" {
    open-on-output "HDMI-A-2"
}

